body, input, *{
    font-size   : 1.2em;
    font-family : Helvetica, Arial, Verdana, sans-serif;
    display     : block;
}

#wrap{
    width   : 70%;
    margin  : 30px auto;
}

h1{
    margin-bottom : 20px;
    font-size : 1.6em;
    font-weight : bold;
}

label{
    margin-bottom : 5px;
}

input {
    margin-bottom : 5px;
}